
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}


/* body {
    height: 100%;
    overflow: hidden;
} */

body {
    margin-top: 170px;
    height: 100%;
    width: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.game-text {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    color: #fff;
    font-size: 50px;
}

.game-text > button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: salmon; 
    border: none;
    cursor: pointer;
}

.gameBoard > ul {
    border: 1px solid #1cf;
    width: 595px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}

.container > .gameBoard > ul > li > ul > li {

    width: 35px;
    height: 35px;
    outline: 1px solid cornflowerblue;
}

.container > .gameBoard > ul > li {
    width: auto;
    height: auto;
}

.container > .gameBoard > ul > li > ul {
    display: flex;
}

.snake {
    background-color: thistle;
}
